body { 
    background: linear-gradient(to right, hsl(26, 26%, 74%) 50%, #c29880 50%); 
    color: rgb(0, 0, 0);
    font-family: sans-serif;
  text-align: left;
  padding-left: 20px; 
  margin: 0; 
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
.name { 
    margin-top: 20px; 
    width: 500px;
    font-size: 50px;
    margin-top: 10px;
    border-radius: 10px;
    padding-left: 100px;
   
    margin-top: 100px;
   
}
.nickname{
    margin-top: -20px;
    padding-left: 155px;
}
.a1 {
    margin-top: 100px;
    padding-left: 155px;
.a2 {
    margin-top: 0px;
    padding-left: 155px;
}
